body {
	background-color: white;
	/*font-family: arial;*/
	
}
img.circle {
	width: 52px !important;
	height: 52px !important;
}
.title {
	font-size: 17px !important;
}
ul {
	font-size: 13px !important;
}
/*img.cont {
	width: 300px !important;
	height: 300px !important;
}*/
#continent-af, #continent-am, #continent-as, #continent-eu, #continent-oc {
	margin-left: 50px;
}
#af-egypt, #am-usa, #eu-france {
	margin-left: 50px;
}
