.pd-10 {
    padding: 10px;
}
.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-gap: 2em;
    /* border: 1px solid black; */
}
.grid-two-unbalanced {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
    grid-gap: 2em;
    /* border: 1px solid black; */
}

.align-right {
    text-align: right;
}
.center {
    margin: 0 auto;
    text-align: center;
}

.num {
    max-width: 5em;
}